@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    font-family:"PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    margin: 0;
}
.site-container {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
}
.header-main{
    height: 64px;
}
.navigation{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.header-list{
    width: 339px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding-right: 285px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.header-item{
    font-family:"PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
}
.navigation-user{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.header-item-img{
    height: 70px;
    z-index: 1;
    padding-left: 70px;
}
.home-pin-text{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.pin{
    padding-left: 10px;
    padding-right: 10px;
}
.navigation-user {
	display: flex;
	list-style: none;
	align-items: center;
}
.main-inner-block-nav{
    display: flex;
    padding-left: 70px;
    width: 114px;
    height: 21px;
    padding-bottom: 40px;
    align-items: center;
    margin: 0;
    padding-top: 5px;
}
.navigation-item{
    padding-left: 10px;
}
.welcome-logo{
    display: block;
    margin: 0;
    padding: 51px 351px 82px 371px;
}
.navigation-link{
    color: black;
    font-size: 20px;
    line-height: 24px;
}
.navigation-item-button{
    background-color:#756157;
    color: #FFFFFF;
    padding: 8px 34px;
    border-radius: 4px;
    border: none;
    font-family:"PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.welcome{
    background-image: url("../pictures/index-background.jpg");
    background-color: #000000;
    background-size: 100%;
    color: black;
    background-repeat: no-repeat;
    position: relative;
}

.welcome-logo-style{
    position: absolute;
    left: 0;
    bottom: 0;
}
.welcome-main{
    text-align: center;
}
.welcome-main-item{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    padding: 69px 290px 25px 290px;
}
.main-item{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
}
.main-item-one{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 20px;
}
.main-item-slogan-one{
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 64px;
    margin: 0;
}

.main-item-catalog{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.main-item-slogan-catalog{
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 54px;
    margin: 0;
}
.main-item-slogan{
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 90px;
    margin: 0;
}
.container-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
.container-item{
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    max-height: 385px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 112.5px 85px;
}
.container-item-img{
    grid-column: span 2;
    overflow: hidden;
}
.container-item::before{
  border-bottom: 2px ridge #FFFFFF4D;
  width: 60px;
  height: 2px;
  order: 2;
  content: "";
}
.color-one{
    background-color: #82B3D3;
    color:#FFFFFF;
}
.color-two{
    background-color: #83B3D31F;
}
.color-three{
    background-color: #83B3D333;
}
.prizent{
    width: 800px;
}
.item-content{
    font-size: 24px;
    line-height: 28px;
}
.item-content-two{
    order: 3;
}
.main-booking-list{
    list-style: none;
    display: flex;
    padding: 96px 304px;
    flex-direction: column;
}
.main-booking-item{
    text-align: center;
}


.advantages-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
}
.advantages-item{
    width: 400px;
    height: 385px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
}
.advantages-item-block{
    width: 230px;
    height: 223px;
}
.search{
    font-size: 20px;
    line-height: 36px;
    width: 376px;
    color: #FFFFFF;
    background-color: #756157;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.search-email{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.email{
    font-size: 18px;
    line-height: 24px;
    border: 0;
    padding: 14px 215px 14px 20px;
    flex-grow: 1;
    background-color: #F2F2F2;
    border-bottom-left-radius:4px ;
    border-top-left-radius: 4px;
}
.button{
    font-family:"PT Sans", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    border-bottom-right-radius:4px ;
    border-top-right-radius: 4px;
    padding: 8px 50px;
}
.button:hover{
    background-color: #68A2CA;
}
.button:focus{
    background-color: #68A2CA;
}
.button:active{
    background-color: #82B3D3;
    color: #FFFFFF4D;
}
.contacts{
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}
.contacts:hover{
color: #756157;
}
.contacts:focus{
color: #756157;
}
.contacts:active{
color: #7561574D;
}
.main-block{
    color: #FFFFFF;
    width: 141px;
    display: flex;
     flex-wrap: wrap;
     gap: 20px;
}
.main-inner{
    background-image: url("../pictures/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    height: 412px;
}
.main-title{
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0 auto;
}
.main-tab{
    font-size: 16px;
    line-height: 21px;
}
.main-block-list{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 32px;
}
.main-block-item{
    font-size: 18px;
    line-height: 23px;
}
.button-settings{
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}

.settings{
    font-size: 16px;
    line-height: 20px;
    background-color: #82b3d3;
    border-radius: 4px;
    border: none;
    padding: 8px 50px;
    color: #FFFFFF;
}
.background{
    background-image: url("../pictures/mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    color: #FFFFFF;
    padding: 105px 258px;
}
.settings-two{
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    background: transparent;
    border: none;
}
.settings-two:focus{
    background: transparent;
    border: 3px ridge #83B3D3;
}
.offer{
    text-align: center;
}
.product-card-title{
    font-weight: 700;
    color: #000000;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        padding-top: 16px;

}

.button{
    border: 0;
}
.footer-main{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 70px 30px 70px;
}
.footer-list{
    display: flex;
	padding: 0;
	margin: 0;
    list-style: none;
    padding-right: 41px;
}
.footer-contacts{
    width: 332px;
    margin: 0;
    padding-right: 40px;
}
.footer-logo{
    width: 115px;
    padding-top: 5px;

}



.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        white-space: nowrap;
        border: 0;
}
a{
    text-decoration: none;
  }
.main{
    flex-grow: 1;
    margin: 0 auto;
}

.main-title{
    padding: 35px 635px 4px 70px;
}
.main-section{
     display: grid;
     grid-template-columns: 150px 150px 288px 191px;
     gap: 70px;
     padding-bottom: 73px;
     margin: 0;
     width: 1060px;
}
.range-wrapper-inputs {
    display: flex;
    padding-bottom: 36px;
  }
.catalog-filter-label {
    display: flex;
    position: relative;
    padding-right: 2px;
}
.range-input {
    width: 143px;
    font: inherit;
    border: none;
    background-repeat: no-repeat;

  }
.input-text{
    position:absolute;
    color: #000000;
    padding-left: 106px;
}
.range-input-left{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.range-input-rignt{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

.range-scale{
    position: relative;
    height: 2px;
    background-color:#62696c;
    list-style-type: circle;
    border-radius: 4px;
    width: 288px;
}
.price-block {
    padding-left: 70px;
}
.range-bar {
    height: 4px;
    background-color:#FFFFFF;
  }
  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
  }

  .range-toggle:hover {
    background-color: #00000040;
  }

  .range-toggle:active,
  .range-toggle:focus {
    outline: 3px solid #83B3D3;
  }
.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: 62px;
}
.price-block{

}
.price-block-img{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}
.container-product-block{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.container-product{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.container-product::before{
    border-bottom: 1px ridge #E6E6E6;
    width: 1060px;
    order: 2;
    content: "";

}
.product{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 340px);
    min-width: 1060px;
    margin: 0;
    padding-bottom: 40px;
}
.catalog{
    display: flex;
    align-items:center;
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 70px 35px 70px;
}
.catalog-sorting{
    font-family:"PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}
.light{
    margin-bottom: 0;
}
.button-light{
    margin-right: 8px;
}
.select-control{
    font-family:"PT Sans", sans-serif;
    font-weight: 400;
    padding: 10px 70px 10px 15px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    line-height: 21px;
    font-size: 18px;
    margin-right: 70px;
    margin-left: 200px;
}
.select-control:hover{
    border-color: #68A2CA;
}
.select-control:focus{
    border-color: #68A2CA;
}

.pagination-link{
    border-radius:4px;
    padding: 18px 25px 18px 25px;
    text-decoration:none;
    color: #FFFFFF;
    background-color: #82B3D3;

}
.pagination-link:hover{
    border-color: #68A2CA;
}
.pagination-link:focus{
    border-color: #68A2CA;
}
.pagination-link:active{
    border-color: #82B3D3;
    color: #FFFFFF4D;
}
.pagination-current{
    text-decoration: none;
    color: #000000;
    background-color: #F2F2F2;

}
.product-card{
    box-sizing: border-box;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #E5E5E5;
    width: 340px;
    content: "";
    border-radius: 4px;
    padding: 20px;
}
.product-card-image{
    width: 100%;

}
.product-card-view{
    color: #333333;
    margin: 0;
}
.product-card-offer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-card-price{
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-self: center;
}
.product-card-button{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    padding: 8px 20px;
}
.product-card-button:hover{
    background-color: #68A2CA;
}
.product-card-button:focus{
    background-color: #68A2CA;
}
.product-card-button:active{
    background-color: #82B3D3;
    color: #FFFFFF4D;
}
.button-catalog{
    font-family:"PT Sans", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px ;
    padding: 8px 26px;
}
.button-catalog:hover{
background-color: #615048;
}
.button-catalog:focus{
background-color: #615048;
}
.button-catalog:active{
background-color: #756157;
color: #FFFFFF4D;
}
.button-modifier{
    background-color: #7DB54F;
}
.button-modifier:hover{
background-color: #6C9E42;
}
.button-modifier:focus{
background-color: #6C9E42;
}
.button-modifier::after{
background-color: #7DB54F;
color: #FFFFFF4D;
}
.product-card-rating-img{
    width: 140px;
    height: 37px;
    display: flex;
    align-self: center;
}
.product-card-rating{
    padding: 9px 22px 8px 23px;
    border-radius: 4px;
    color: #333333;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}
.pagination-conteiner{
    display: flex;
    justify-content: flex-start;
}
.pagination{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 8px;
    padding: 60px 70px;
    margin: 0;
}
.background-catalog{
    padding: 105px 258px;
}
/*
.modal-container-close{
    display: block;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal {
    position: relative;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
  }
.modal-auth{
    width: 717px;
    height: 576px;
    border-radius: 10px;
}
.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    border: none;
    background-image: url("../pictures/modal-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
.modal-title{
    text-transform: uppercase;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}
.modal-text{
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}
.modal-button{
    color: #FFFFFF;
    background-color: #83B3D3;
    padding: 18px 256.5px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}
.input-field{
    background-color: #F2F2F2;
    border-radius: 4px;
    background-image: url("../pictures/date.svg");
    background-repeat: no-repeat;
    padding: 12px 295px 12px 20px;
    background-position: 98%;
    cursor: pointer;
}
*/
