@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
body{
    font-family:"PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
.navigation-link{
    color: black;
    font-size: 20px;
    line-height: 24px;
}
.welcome{
    background-image: url("../pictures/index-background.jpg");
    background-color: #000000;
    background-size: 100%;
    color: black;
    background-repeat: no-repeat;
}
.main-item{
    font-size: 30px;
    line-height: 36px;
}
.main-item-slogan{
    font-size: 22px;
    line-height: 26px;
}
.background{
    width: 1200px;
}
.item-content{
    font-size: 24px;
    line-height: 28px;
}
.search{
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756157;
}
.email{
    font-size: 18px;
    line-height: 24px;
}

.contacts{
    font-size: 40px;
    line-height: 40px;
}
.main-block{
    list-style: none;
    color: #FFFFFF;
}
.main-inner{
    background-image: url("../pictures/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
}
.main-title{
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}
.main-tab{
    font-size: 16px;
    line-height: 21px;
}
.main-block-list{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
}
.main-block-item{
    font-size: 18px;
    line-height: 32px;
}
.settings{
    font-size: 16px;
    line-height: 20px;
    background-color: #82b3d3;
}
.background{
    background-image: url("../pictures/mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    color: #FFFFFF;
}
.settings-two{
    font-size: 16px;
    line-height: 20px;
}
.product-card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.product-card-button{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #756157;
}
.button{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
}
.product-card-rating{
    font-size: 16px;
    line-height: 20px;
    color: black;
    background-color: #F2F2F2;
}
.pagination-link{
    text-decoration:none;
    color: #FFFFFF;
    background-color: #82B3D3;
}
.pagination-current{
    text-decoration: none;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
        white-space: nowrap;
        border: 0;

}
a{
    text-decoration: none;
  }
